
div.slideUp
    nav.top-bar.data-topbar
     div.left.logo
        img(src='/images/Logo top left.png')
     div.burger-contain
        .burger
            .bun.bun-top
            .bun.bun-mid
            .bun.bun-bottom
     div.row.full-width.overlay2
        div.burger-nav
            li
                a.burger-link Work
            li
                a.burger-link About
            li
                a.burger-link Capabilities
            li
                a.burger-link Culture
            li
                a.burger-link Bable Blog
            li 
                a.burger-link Contact
            