.text.row h6 {
  text-transform: none;
  margin: 21px;
  color: #6d6d74;
  letter-spacing: 0.5px;
}
h6{
    font-family:'MuseoSans500';
    font-size:1.250em;        
}
h7{
    font-family: 'MuseoSans500'!important;
    font-size: 0.79em;
    color: #BFC1C7;
    letter-spacing: 1.2px;
}
h8 {
    font-family: 'MuseoSans500'!important;
  color: #6d6d74;
  font-size: 0.750em;

}

.footer{
  background-color:#1F1F21;
  padding-top: 0;
 /* height:1.125em;*/
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding-bottom: 19px;

}

.center-div{
    text-align: center;
}
.center-div img{
    padding-top: 5.00em;
    width: 6.5em;
}
.list ul{
    margin:0;
}
.social-icons ul{
    margin:0;
}
/*.line hr{
    margin-left: auto;
    margin-right: auto;
    margin-top:1.5%;
    width: 75px;
}*/
.list{
   margin-top: 15px;
   margin-bottom: 8px;
}
.list ul li {
    display: inline;
    
}
/*.social-icons{
  padding-top: 0.6%;
}*/
.social-icons{
    padding-top: 4px;
    padding-bottom: 6px;
}
.social-icons ul li {
    display: inline;
    padding: 0px 1.0em;
    font-size: 1.3em;
    color: #BFC1C7;
   
}
.social-icons ul li:hover{
    color:#328FE5;
}
.text{
    margin-top: 0.7%;
}
.mid-body {
  position: relative;
  z-index: 3;
  margin-bottom:15.125em;
  background-color: #fff;
  width: 100%;
}
.text-f {
  padding: 15px;
  letter-spacing: 0.5px;
}

