.text.row h6 {
  text-transform: none;
  margin: 21px;
  color: #6d6d74;
  letter-spacing: 0.5px;
}
h6{
    font-family:'MuseoSans500';
    font-size:1.250em;        
}
h7{
    font-family: 'MuseoSans500'!important;
    font-size: 0.79em;
    color: #BFC1C7;
    letter-spacing: 0.9px;
}
h8 {
    font-family: 'MuseoSans500'!important;
  color: #6d6d74;
  font-size: 0.750em;

}

.footer{
  background-color:#1F1F21;
  padding-top: 0;
  height:21.125em;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

.center-div{
    text-align: center;
}
.center-div img{
    padding-top:3.500em;
}
/*.line hr{
    margin-left: auto;
    margin-right: auto;
    margin-top:1.5%;
    width: 75px;
}*/
list{
    margin-bottom: 8px;
    top: 1px;
}
.list ul li {
    display: inline;
    
}
/*.social-icons{
  padding-top: 0.6%;
}*/
.social-icons{
     margin-top: 1px;
    
}
.social-icons ul li {
    display: inline;
    padding: 0px 1.1em;
    font-size: 1.3em;
    color: #BFC1C7;
   
}
.social-icons ul li:hover{
    color:#328FE5;
}
.text{
    margin-top: 0.7%;
}
.mid-body {
  position: relative;
  z-index: 3;
  margin-bottom:19.125em;
  background-color: #fff;
  width: 100%;
}
.text-f {
margin-bottom: 45px;
}

