.top-bar{
    background-color: transparent;
    min-height: 65px;
    width: 100%;
}
.trans{
     background-color: transparent;
}
//.logo{
//    margin-left:3%;
//    margin-top: 1.1%;
//}
.darkblue {
    background-color: #0d306b !important;

}
.w-logo{
    margin-left: 3%;
}
.header {
    max-width: 94%;
    margin: auto;
}
/*.white{
    background-image: url('../images/white-logo.png');
}*/

/* css for right menu*/

.button_container {
  position: relative;
  margin-top: 21.5px;
  right: 2%;
  height: 21px;
  width: 24px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
          transition: opacity .25s ease;
}


.button_container.active .top {
  -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
      -ms-transform: translateY(8px) translateX(0) rotate(45deg);
          transform: translateY(8px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
      -ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
          transform: translateY(-8px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #0d306b;
  border: none;
  height: 4px;
  width: 100%;
  position: absolute;
  top: -8px;
  left: 0;
  -webkit-transition: all .35s ease;
          transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 0px;;
}
.button_container span:nth-of-type(3) {
  top: 8px;
}

.overlay2 {
  position: fixed;
  background: #0d306b;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
          transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay2.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.overlay2.open li {
  -webkit-animation: fadeInTop .005s ease forwards;
          animation: fadeInTop .005s ease forwards;
  /*-webkit-animation-delay: .35s;
          animation-delay: .35s;*/
}
/*.overlay2.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay2.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay2.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}*/
.overlay2 nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
 
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  opacity: 0.96;
  padding: 50px 0px;
  /*text-align: center;*/
 
}
.overlay2 ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay2 ul li {
  display: block;
  height: 25%;
  height: calc(100% /6);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay2 ul li a {
  display: block;
  position: relative;
  color: #FFF;
   font-size:6vh;
  font-family: 'MuseoSans700';
  text-decoration: none;
  overflow: hidden;
}
.overlay2.social-icons{
    color:rgba(255,255,255,0.55);
    font-size: 1em;
    padding: 2.5%;
   
}
.overlay-menu{
text-align: center;
}
.overlay-menu.social-icons{
     bottom: 7%;
}
.overlay2 ul li a:hover:after, .overlay2 ul li a:focus:after, .overlay2 ul li a:active:after {
  width: 100%;
}
.overlay2 ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
          transition: .35s;
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    top: 20%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}