body {
    margin: 0px;
}

/*----typed.js----*/


/*----cursor----*/
@font-face {
    font-family: 'MuseoSans'; 
    src: url('../fonts/Museo Sans/MuseoSans.otf'); 
  } 

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}



.typed-cursor
{
  font-size: 8vmin;
  -webkit-animation: textFadeIn 1s linear 4s  alternate both;
  font-weight: bold;
  text-align: center;
  color: transparent;
}


/*--text animation--*/


.typed-text  {

    position: absolute;
    top: 50%;
    line-height: 100px;
    height: 90px;
    margin-top: -50px;
    font-size: 8vmin;
    width: 100%;
    text-align: center;
    color: transparent;
    -webkit-animation: blurFadeInOut 4s ease-in backwards;
    -moz-animation: blurFadeInOut 4s ease-in backwards;
    -ms-animation: blurFadeInOut 4s ease-in backwards;
    animation: blurFadeInOut 4s ease-in backwards;
    font-family: "MuseoSans";
}


/*if you want to delay the animation*/

p .element {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
}



@-webkit-keyframes blurFadeInOut{
    0%{
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        -webkit-transform: scale(1.3);
    }
    20%,75%{
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        -webkit-transform: scale(1);
    }
    100%{
        opacity: 0;
        text-shadow: 0px 0px 50px #fff;
        -webkit-transform: scale(0);
    }
}

@-moz-keyframes blurFadeInOut{
    0%{
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        -moz-transform: scale(1.3);
    }
    20%,75%{
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        -moz-transform: scale(1);
    }
    100%{
        opacity: 0;
        text-shadow: 0px 0px 50px #fff;
        -moz-transform: scale(0);
    }
}

@keyframes blurFadeInOut{
    0%{
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        transform: scale(1.3);
    }
    20%,75%{
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        text-shadow: 0px 0px 50px #fff;
        transform: scale(0);
    }
}

/*particle slider*/

#particle-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: initial;
    top: 0;
    left: 10px !important;
}


.slides,
.dg {
    display: none;
}


/*--star--*/


.star {

    background: url('/css/images/Web-Background-Developer.jpg');
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}
#maincanvas {
   
    width: 100%;
    height: 100%;
}


html {
    overflow: hidden;
}



@media screen and (max-width: 746px) {
.typed-text  {
    font-size: 7vmin;
    font-family: "MuseoSans";
}


.typed-cursor
{
  font-size: 7vmin;
}

}
