.row.full-width.about-b.collapse
   .large-12.columns
        .contact-hero-image
          .hero-typed-text 
              h1 
                span.contact-typed-text
                a.drop(href="").center
                    p Drop Us A Line
                span.email poke@webable.com.bd
                br
                a(href="#contact-info").center
                    p View Map
                    i.fa.fa-chevron-down
.row.full-width#contact-info
    #map-canvas.pointer-events