
div.footer
  div.center-div
    img(src='../images/Vector-Smart-Object.png')
    .text.row 
        h6 We Keep it Simple
    .row.line 
       hr
    .list
        ul.text-align  
                li
                     a(href="#")
                        h7 BRAND GUIDELINE 
                         &nbsp; | 
                         &nbsp;
                li
                     a(href="#") 
                        h7  THE BABLE BLOG  
                         &nbsp; |
                         &nbsp;
                li 
                     a(href="#") 
                        h7 OUR WORK
                         &nbsp; |   
                         &nbsp;
                li
                     a(href="#") 
                        h7  OUR SERVICES 
                         &nbsp; |
                         &nbsp;
                li 
                     a(href="#") 
                        h7  JOIN THE TEAM 
                      
    .social-icons
        ul.text-align
            li
                a(href='#')
                i.fa.fa-twitter
            li
                a(href='#')
                i.fa.fa-linkedin
            li
                a(href='#')  
                i.fa.fa-facebook
            li
                a(href='#')
                i.fa.fa-instagram
            li
                a(href='#')
                i.fa.fa-pinterest
            li
                a(href='#')
                i.fa.fa-google-plus

    .text-f 
        h8 ©2015 WEBABLE DIGITAL. ALL RIGHTS RESERVED