
div.slideUp
     nav.top-bar.data-topbar.row.header
            div.left.logo
                img(src='../images/Logo top left.png')
            div.right
                .button_container#toggle
                    span.top
                    span.middle
                    span.bottom
              .overlay2#overlay2
                  nav.overlay-menu
                    ul
                         li
                            a(href="#") Work
                         li
                            a(href="#") About
                         li
                            a(href="#") Capabilities
                         li
                            a(href="#") Culture
                         li
                            a(href="#") Bable Blog
                         li 
                            a(href="#") Contact
            
            
            
            
            
            
            
            
            
            
            