
div.slideUp
     nav.top-bar.data-topbar.row.header
            div.left.logo#logo
                 //.color.hide
                    img(src='../images/Logo top left.png')
                 .w-logo
                    img(src='../images/white-logo.png')
            div.right
                .button_container#toggle
                    span.top
                    span.middle
                    span.bottom
              .overlay2#overlay2
                .left.hide
                    img(src='../images/white-logo.png')
    
                  nav.overlay-menu
                    ul
                         li
                            a(href="/work") Work
                         li
                            a(href="/about") About
                         li
                            a(href="/capabilities") Capabilities
                         li
                            a(href="#") Bable Blog
                         li 
                            a(href="/contact") Contact
           
                .social-icons-menu
                    ul.text-align
                        li
                            a(href='#')
                            i.fa.fa-twitter
                        li
                            a(href='#')
                            i.fa.fa-linkedin
                        li
                            a(href='#')  
                            i.fa.fa-facebook
                        li
                            a(href='#')
                            i.fa.fa-instagram
                        li
                            a(href='#')
                            i.fa.fa-pinterest
                        li
                            a(href='#')
                            i.fa.fa-google-plus

            
            
            
            