doctype
html(lang="en")
  head
    title= Webable
    meta(charset='utf-8')
    //link(type="text/css", rel="stylesheet", href="/vendors/bootstrap/css/bootstrap.min.css")
    link(type="text/css", rel="stylesheet", href="../css/main.css")
    link(rel="stylesheet" href="../css/sup-styles.css")
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")  
    script(src="https://maps.googleapis.com/maps/api/js")
    script(src="/js/typed.js")
    script(src="/js/script.js")
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")

 body
    != partial("_header")
    .mid-body
      != yield
    != partial("_footer")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.0/jquery.nicescroll.min.js")
    script(src="../js/foundation/foundation.topbar.js")
    script(src="../js/sup-topbar.min.js") 
    script(src="../js/main.js")