div.contact
 h1 If you're all about that bass,
 h1 get in touch 
 br
 p poke@webable.com.bd | +88017 31 057667
 p VIEW OFFICE
 div.full-width
    #map-canvas
 div
    h2 CAREERS - JOIN THE WEBABULOUS TEAM
    P Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

  div.row.full-width
    .large-4.columns   
       h3 Account Managers
       p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .large-4.columns   
       h3 Graphic Designers
       p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .large-4.columns   
       h3 Front-End Developers
       p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  
       
 div.row.full-width
    .large-4.columns   
       h3 Back-End Developers
       p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .large-4.columns   
       h3 Copywriters
       p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .large-4.columns
.row.full-width.collapse.con-f
   .large-6.columns.collapse
      img(src='http://placehold.it/640x480')
   .large-6.columns.collapse  
      img(src='http://placehold.it/640x480')        

         
        
        