.row.full-width.about-b.collapse
   .large-12.columns
        .join-hero-image
          .hero-typed-text 
              h1 
                span.join-typed-text
                a.drop(href="").center
                    p Drop Us A Line
                span.email
                    p Or reach us at
                    p poke@webable.com.bd |  
                        a(href="tel:01794-777103") 01794-777103
                
                