
div.slideUp(style="background-color:transparent")
     nav.top-bar.data-topbar.row.header
            div.left.logo#logo
                 .w-logo
                    a(href="../index.html")
                     img(src='../images/white-logo.png')
            div.right
                .button_container#toggle
                    span.top
                    span.middle
                    span.bottom
              .overlay2#overlay2
                .left.hide
                    img(src='../images/white-logo.png')
                  nav.overlay-menu
                    ul
                         li
                            a(href="/work") Work
                         li
                            a(href="/about") About
                         li
                            a(href="/capabilities") Capabilities
                         li
                            a(href="/bable") Bable Blog
                         li
                            a(href="/join") Join the team
                         li 
                            a(href="/contact") Contact
           
                  .social-icons-menu
                     ul.text-align
                        li
                            a(href='https://twitter.com/WebAbleDigital')
                            i.fa.fa-twitter
                        li
                            a(href='https://www.linkedin.com/company/3544530?trk=tyah&trkInfo=clickedVertical%')
                            i.fa.fa-linkedin
                        li
                            a(href='https://plus.google.com/+WebableBd/videos')
                            i.fa.fa-google-plus
                        li
                            a(href='https://www.facebook.com/WebAble?fref=ts')  
                            i.fa.fa-facebook
                        li
                            a(href='https://instagram.com/webabledigital/')
                            i.fa.fa-instagram
                        li
                            a(href='https://www.pinterest.com/WebAbleDigital/')
                            i.fa.fa-pinterest
            
            
            
