
.row.full-width.about-b.collapse
    .large-12.columns
        .hero-image
          .hero-text 
             h1 Experience The WebAbulous
.clear
.row.wrapper.collapse
    .small-12.medium-6.large-6.columns.process-text.one
        h3 WebAble Who?
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    .small-12.medium-6.large-6.columns.process-text.two
        h3 The WebAbulous Process
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
.row.collapse.about.full-width.strategy-grid(data-equalizer='')
    .small-12.medium-4.large-4.columns(data-equalizer-watch='')
        img(src='http://placehold.it/350x320')
        img(src='http://placehold.it/350x320')
    .small-12.medium-8.large-8.columns(data-equalizer-watch='')    
        img(src='http://placehold.it/854x520')
.row.wrapper.collapse
  .small-12.large-10.columns.two-col
        h3 Our Principles
        .row.collapse.full-width
            .small-4.large-5.columns.principle-text
                h2 We Keep It Simple
                p Here is some more text.Lorem Ipsum and some more text and I can think of in the spur of the
                h2 We Keep It Simple
                p Here is some more text.Lorem Ipsum and some more text and I can think of in the spur of the
            .small-4.large-5.columns.principle-text.last
                h2 We Keep It Simple
                p Here is some more text.Lorem Ipsum and some more text and I can think of in the spur of the
                h2 We Keep It Simple
                p Here is some more text.Lorem Ipsum and some more text and I can think of in the spur of the
  .small-4.large-2.columns.our-cap
        h3 Our Capabilities
        h5 Strategy
        h5 Creative
        h5 Design
        h5 Development
        h5 Social Media
        h5 Media Buying
        a(href="/capabilities" class="button small") 
          h13 View Work
          
.wrapper
  hr
.row.wrapper.meet-the-team
    h3 Inside The Hive - Meet The WebAblers
    br
    p Lorem Ipsum and some more text and I can think of in the spur of the moment Lorem Ipsum and some more text and I can think of in the spur of the moment Lorem Ipsum and some more text and I can think of in the spur of the moment
.team-pics
    .row.full-width.collapse
        .small-12.medium-4.large-4.columns.team-pic
            .overlay
            h5.name Shadab Mahbub
            h5.position Chief Innovation Officer
            h5.twitter @shadable
            img(src='http://placehold.it/426x426')
        .small-12.medium-4.large-4.columns.team-pic
            .overlay
            h5.name Shadab Mahbub
            h5.position Chief Innovation Officer
            h5.twitter @shadable
            img(src='http://placehold.it/426x426')
        .small-12.medium-4.large-4.columns.team-pic
            .overlay
            h5.name Shadab Mahbub
            h5.position Chief Innovation Officer
            h5.twitter @shadable
            img(src='http://placehold.it/426x426')
    .row.full-width.collapse
        .small-12.medium-4.large-4.columns.team-pic
            .overlay
            h5.name Shadab Mahbub
            h5.position Chief Innovation Officer
            h5.twitter @shadable
            img(src='http://placehold.it/426x426')
        .small-12.medium-4.large-4.columns.team-pic
            .overlay
            h5.name Shadab Mahbub
            h5.position Chief Innovation Officer
            h5.twitter @shadable
            img(src='http://placehold.it/426x426')
        .small-12.medium-4.large-4.columns.team-pic.end
          .endpic  
           h14 We are constantly on the lookout for raw talent
           h15 Join The Team

    
        
       
  