div.row.wrapper
    .culture
        h3 Culture
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
.culpic
   .row.full-width.collapse
     .large-8.columns
        img(src='http://placehold.it/854x640')
     .large-4.columns
        img(src='http://placehold.it/426x320')
        img(src='http://placehold.it/426x320')
.row.collapse.wrapper
    .culture-code   
     .row
         h3 Our Culture Code
     .row.collapse.culture-p
        .large-4.columns

          h2
            span.number 01. 
            span.heading We Keep it Simple
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
         .large-4.columns
           h2
            span.number 02. 
            span.heading We Keep it Simple
           p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
         .large-4.columns
           h2
            span.number 03. 
            span.heading We Keep it Simple
           p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
       
     .row.collapse.culture-p
        .large-4.columns
           h2
            span.number 04. 
            span.heading We Keep it Simple
           p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
         .large-4.columns
            h2
                span.number 05. 
                span.heading We Keep it Simple
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
         .large-4.columns
            h2
                span.number 06. 
                span.heading We Keep it Simple
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

     div.row.collapse.culture-p
      .large-4.columns   
           h2
            span.number 07. 
            span.heading We Keep it Simple
           p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      .large-4.columns
            h2
                span.number 08. 
                span.heading We Keep it Simple
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      .large-4.columns

     hr
.row.collapse.wrapper
    .ins
     div.row
        h3 We Instagram Everyday
        p  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
.instagram
    .row.full-width.collapse
        .small-3.medium-3.large-3.columns.ins
            img(src='http://placehold.it/320x320')
        .small-3.medium-3.large-3.columns.ins
            img(src='http://placehold.it/320x320')
        .small-3.medium-3.large-3.columns.ins
            img(src='http://placehold.it/320x320')
        .small-3.medium-3.large-3.columns.ins
            img(src='http://placehold.it/320x320')
    .row.full-width.collapse
        .small-3.medium-3.large-3.columns.ins
            img(src='http://placehold.it/320x320')
        .small-3.medium-3.large-3.columns.ins
            img(src='http://placehold.it/320x320')
        .small-3.medium-3.large-3.columns.ins
            img(src='http://placehold.it/320x320')
        .small-3.medium-3.large-3.columns.ins
            img(src='http://placehold.it/320x320')
    .row.full-width.collapse
        .small-3.medium-3.large-3.columns.ins
             img(src='http://placehold.it/320x320')
         .small-3.medium-3.large-3.columns.ins
             img(src='http://placehold.it/320x320')
         .small-3.medium-3.large-3.columns.ins
             img(src='http://placehold.it/320x320')
         .small-3.medium-3.large-3.columns.ins
             img(src='http://placehold.it/320x320')

div#show_more.full-width 
    h11 Show more