.row.collapse.full-width.cs-branding-hero
    .large-12.columns.branding-image
        .wrapper.cs-brand-text
            .hero-text.text-center
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to

.cs-branding
  .client
    h3 Client
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
  h3 Concept
  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
    h3 Graphic Style
  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
  
.row.collapse.full-width(data-equalizer='')
    .large-6.columns(data-equalizer-watch='').case
        img(src='http://placehold.it/640x640')
    .large-6.columns(data-equalizer-watch='')
        .row.collapse.case.full-width
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
        .row.collapse.case.full-width
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
            .large-6.columns.cs-pictures
                img(src='http://placehold.it/320x320')
.row.full-width.end-pic
    img(src='http://placehold.it/1280x650')