div.contact
 h12 If you're all about that bass,
 br
 h12 get in touch 
 br
 .ofc
   p.po poke@webable.com.bd | +88017 31 057667
   p.of VIEW OFFICE
 div.full-width
    #map-canvas.pointer-events
  hr
 div
    h3 CAREERS - JOIN THE WEBABULOUS TEAM
    P Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

  div.row.full-width.collapse
    .large-4.columns
       div.team-width  
        h2 Account Managers
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .large-4.columns
       div.team-width
        h2 Graphic Designers
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .large-4.columns
       div.team-width
        h2 Front-End Developers
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  
       
 div.row.full-width.collapse
    .large-4.columns
       div.team-width
        h2 Back-End Developers
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .large-4.columns
       div.team-width
        h2 Copywriters
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .large-4.columns.nil
.row.full-width.collapse.con-f.wrapper
   .large-6.columns.collapse
      img(src='http://placehold.it/640x480')
   .large-6.columns.collapse  
      img(src='http://placehold.it/640x480')        

         
        
        