div.work_pic

    .row.full-width.collapse
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/427x320')
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/427x320')
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/427x320')
    .row.full-width.collapse
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/427x320')
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/427x320')
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/427x320')
            
                 
            
.full-width.text-center.grey
    h4 SHOW MORE
.clear
.row.wrapper
    .capabilities
        h2 OUR CAPABILITIES
        br
        p Lorem Ipsum some text here and there and here is osme more!
.clear
.row.collapse.full-width.six-capabilities
    .small-12.medium-4.large-4.columns.capability-boxes.text-center.strate
        .capabilities-text
            p 01
            h4.capability-heading STRATEGY
        .strategy
            svg#Layer_1(version='1.1', xmlns:x='&ns_extend;', xmlns:i='&ns_ai;', xmlns:graph='&ns_graphs;', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='146.809px', height='152.128px', viewbox='0 0 146.809 152.128', enable-background='new 0 0 146.809 152.128', xml:space='preserve')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='38.643,30.284 27.516,30.284 \
      27.516,42.047 ')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='27.516,110.697 27.516,121.843 \
      38.643,121.843 ')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='107.947,121.843 119.074,121.843 \
      119.074,110.697 ')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='119.074,42.047 119.074,30.284 \
      107.947,30.284 ')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='38.643,30.284 27.516,30.284 \
      27.516,42.047 ')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='27.516,110.697 27.516,121.843 \
      38.643,121.843 ')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='107.947,121.843 119.074,121.843 \
      119.074,110.697 ')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='119.074,42.047 119.074,30.284 \
      107.947,30.284 ')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='16.421,68.196 8.554,76.063 \
      16.871,84.38 ')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='65.414,132.924 73.295,140.806 \
      81.162,132.938 ')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='130.169,83.931 138.036,76.063 \
      130.155,68.183 ')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='81.611,19.64 73.295,11.322 \
      65.428,19.189 ')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='16.421,68.196 8.554,76.063 \
      16.871,84.38 ')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='65.414,132.924 73.295,140.806 \
      81.162,132.938 ')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='130.169,83.931 138.036,76.063 \
      130.155,68.183 ')
                polyline.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', points='81.611,19.64 73.295,11.322 \
      65.428,19.189 ')
                circle.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', stroke-dasharray='15.509,15.5096', cx='73.52', cy='76.057', r='34.494')
                line.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', x1='73.521', y1='76.057', x2='73.521', y2='11.322') 
                line.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', x1='73.521', y1='76.059', x2='119.294', y2='30.284')
                line.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', x1='73.521', y1='76.057', x2='138.255', y2='76.057')
                line.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', x1='73.521', y1='76.057', x2='119.294', y2='121.832')
                line.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', x1='73.289', y1='76.057', x2='73.288', y2='140.792')
                line.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', x1='73.288', y1='76.057', x2='27.513', y2='121.832')
                line.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', x1='73.29', y1='76.288', x2='8.554', y2='76.288')
                line.strat(fill='none', stroke='#000000', stroke-width='1.2716', stroke-miterlimit='10', x1='73.288', y1='76.288', x2='27.513', y2='30.513')
            
       
            
    .small-12.medium-4.large-4.columns.capability-boxes.text-center
        .capabilities-text
            p 02
            h4.capability-heading DESIGN
    .small-12.medium-4.large-4.columns.capability-boxes.text-center
        .capabilities-text
            p 03
            h4.capability-heading DEVELOPMENT
    .small-12.medium-4.large-4.columns.capability-boxes.text-center
        .capabilities-text
            p 04
            h4.capability-heading SOCIAL MEDIA MARKETING
    .small-12.medium-4.large-4.columns.capability-boxes.text-center
        .capabilities-text
            p 05
            h4.capability-heading DIGITAL MEDIA BUYING
    .small-12.medium-4.large-4.columns.capability-boxes.text-center
        .capabilities-text
            p 06
            h4.capability-heading INTERACTIVE CAMPAIGNS
.row.wrapper
    .clientele
        h2 OUR VALUED CLIENTELE
        br
        p Lorem Ipsum some text here and there and here is osme more!
    .row.wrapper
        .client-logos
            .small-12.medium-6.large-4
                img
             .small-12.medium-6.large-4
                img
             .small-12.medium-6.large-4
                img
             .small-12.medium-6.large-4
                img
             .small-12.medium-6.large-4
                img
             .small-12.medium-6.large-4
                img
             .small-12.medium-6.large-4
                img
             .small-12.medium-6.large-4
                img