div.work_pic

    .row.full-width.collapse
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/427x320')
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/427x320')
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/427x320')
    .row.full-width.collapse
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/427x320')
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/427x320')
        .small-12.medium-4.large-4.columns
            img(src='http://placehold.it/427x320')
            
                 
            
.full-width.text-center.grey
    h4 SHOW MORE
.clear
.row.wrapper
    .capabilities
        h2 OUR CAPABILITIES
        br
        p Lorem Ipsum some text here and there and here is osme more!
.clear
.row.collapse.full-width.six-capabilities
    .small-12.medium-4.large-4.columns.capability-boxes.text-center.strategy
        
        .capabilities-text
            p 01
            h4.capability-heading STRATEGY
              img(src="strategy.svg")
    .small-12.medium-4.large-4.columns.capability-boxes.text-center
        .capabilities-text
            p 02
            h4.capability-heading DESIGN
    .small-12.medium-4.large-4.columns.capability-boxes.text-center
        .capabilities-text
            p 03
            h4.capability-heading DEVELOPMENT
    .small-12.medium-4.large-4.columns.capability-boxes.text-center
        .capabilities-text
            p 04
            h4.capability-heading SOCIAL MEDIA MARKETING
    .small-12.medium-4.large-4.columns.capability-boxes.text-center
        .capabilities-text
            p 05
            h4.capability-heading DIGITAL MEDIA BUYING
    .small-12.medium-4.large-4.columns.capability-boxes.text-center
        .capabilities-text
            p 06
            h4.capability-heading INTERACTIVE CAMPAIGNS
.row.wrapper
    .clientele
        h2 OUR VALUED CLIENTELE
        br
        p Lorem Ipsum some text here and there and here is osme more!
    .row.wrapper
        .client-logos
            .small-12.medium-6.large-4
                img
             .small-12.medium-6.large-4
                img
             .small-12.medium-6.large-4
                img
             .small-12.medium-6.large-4
                img
             .small-12.medium-6.large-4
                img
             .small-12.medium-6.large-4
                img
             .small-12.medium-6.large-4
                img
             .small-12.medium-6.large-4
                img